body {
  background-color: #222b31;
  font-family: 'Menlo', sans-serif;
}

nav.navbar {
  border-radius: 0;
}

.nav.navbar-nav.navbar-right li,
.heading {
  text-transform: capitalize;
}

.movies {
  margin-top: 20px;
}

.movies article.movie {
  background-color: #fff;
  color: #333;
  min-height: 150px;
  position: relative;
  padding-left: 115px;
  margin-bottom: 25px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-top: 15px;
  cursor: default;
}

.movies .heading {
  margin: 0 15px 10px;
  font-size: 20px;
  color: #333;
  padding-bottom: 30px;
}
.vote-count,
.release_date {
  color: #9e9e9e;
}

.movies .movie .poster_container {
  position: absolute;
  cursor: pointer;
  width: 100px;
  height: 150px;
  overflow: hidden;
  top: 0;
  left: 0;
}

.movies .movie img.poster {
  width: 100%;
}

.glyphicon {
  top: 2px;
}

.vote-count,
.release_date {
  color: #9e9e9e;
}
.release_date {
  margin-bottom: 5px;
}
.vote-count .glyphicon {
  color: #e91e63;
}

.rating {
  color: #ffcb74;
}

.movies .movie .title.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie .title {
  margin-top: 0;
  margin-bottom: 6px;
}

.movies .movie .overview-excerpt {
  max-height: 66px;
  line-clamp: 2;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  box-orient: vertical;
  -webkit-box-orient: vertical;
  margin-top: 5px;
}

@media screen and (max-width: 600px) {
  .navbar {
    margin-bottom: 0;
  }
  h3 {
    font-size: 14px;
  }

  .vote-count {
    visibility: hidden;
  }
}

.loader {
  left: 50%;
  top: 50%;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.loader #spinner {
  box-sizing: border-box;
  stroke: #fff;
  stroke-width: 3px;
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite,
    rotate 1.6s linear infinite;
  animation: line 1.6s cubic-bezier(0.4, 0, 0.2, 1) infinite,
    rotate 1.6s linear infinite;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}

@keyframes rotate {
  from {
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  to {
    -webkit-transform: rotate(450deg);
    transform: rotate(450deg);
  }
}

@-webkit-keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@keyframes line {
  0% {
    stroke-dasharray: 2, 85.964;
    -webkit-transform: rotate(0);
    transform: rotate(0);
  }
  50% {
    stroke-dasharray: 65.973, 21.9911;
    stroke-dashoffset: 0;
  }
  100% {
    stroke-dasharray: 2, 85.964;
    stroke-dashoffset: -65.973;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
