html(lang='en')
    head
        title Progressive Movies App From Wakanda
        meta(charset='utf-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(href="/manifest.json", rel="manifest")
        link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous")
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black")
        meta(name="apple-mobile-web-app-title" content="PWAkanda Movies")
        link(rel="apple-touch-icon" href="/images/icons/icon-152x152.png")
        meta(name="msapplication-TileImage" content="images/icons/icon-144x144.png")
        meta(name="msapplication-TileColor" content="#333")
        style(type="text/css").
            body{color:#fff}nav.navbar{border-radius:0}.heading,.nav.navbar-nav.navbar-right li{text-transform:capitalize}.movies{margin-top:20px}.movies article.movie{background-color:#fff;color:#333;box-shadow:1px 2px 10px #ccc;min-height:130px;position:relative;padding-left:115px;padding-right:15px;margin-bottom:50px;padding-top:10px;cursor:default}.movies .heading{margin:0 15px 10px;font-size:20px;color:#333;padding-bottom:30px}.movies .movie .poster_container{position:absolute;cursor:pointer;width:100px;height:150px;overflow:hidden;top:-20px;left:0}.movies .movie img.poster{width:100%}.movies .movie .title.truncate{white-space:nowrap;padding-bottom:5px;overflow:hidden;text-overflow:ellipsis;margin-top:10px}.movies .movie .overview-excerpt{max-height:66px;line-clamp:3;-webkit-line-clamp:3;overflow:hidden;text-overflow:ellipsis;display:-webkit-box;box-orient:vertical;-webkit-box-orient:vertical}@media screen and (max-width:600px){h3{font-size:14px}}.loader{left:50%;top:50%;position:fixed;-webkit-transform:translate(-50%,-50%);transform:translate(-50%,-50%)}.loader #spinner{box-sizing:border-box;stroke:#673ab7;stroke-width:3px;-webkit-transform-origin:50%;transform-origin:50%;-webkit-animation:line 1.6s cubic-bezier(.4,0,.2,1) infinite,rotate 1.6s linear infinite;animation:line 1.6s cubic-bezier(.4,0,.2,1) infinite,rotate 1.6s linear infinite}@-webkit-keyframes rotate{from{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(450deg);transform:rotate(450deg)}}@keyframes rotate{from{-webkit-transform:rotate(0);transform:rotate(0)}to{-webkit-transform:rotate(450deg);transform:rotate(450deg)}}@-webkit-keyframes line{0%{stroke-dasharray:2,85.964;-webkit-transform:rotate(0);transform:rotate(0)}50%{stroke-dasharray:65.973,21.9911;stroke-dashoffset:0}100%{stroke-dasharray:2,85.964;stroke-dashoffset:-65.973;-webkit-transform:rotate(90deg);transform:rotate(90deg)}}@keyframes line{0%{stroke-dasharray:2,85.964;-webkit-transform:rotate(0);transform:rotate(0)}50%{stroke-dasharray:65.973,21.9911;stroke-dashoffset:0}100%{stroke-dasharray:2,85.964;stroke-dashoffset:-65.973;-webkit-transform:rotate(90deg);transform:rotate(90deg)}}

        
    body
        nav(class="navbar navbar-inverse")
            div(class="container")
                div(class="navbar-header")
                    button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
                        span(class="sr-only") Toggle navigation
                        span(class="icon-bar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                    a(class="navbar-brand" href="/") PWAkanda

                div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
                    ul(class="nav navbar-nav navbar-right")
                            li: a(href='/movies/top_rated') Top rated
                            li: a(href='/movies/popular') Popular
                            li: a(href='/movies/now_playing') Now playing
                        
        div(class='container')
            div(class='row movies')
        div(class="loader")
            svg(viewBox="0 0 32 32" width="32" height="32")
                circle(id="spinner" cx="16" cy="16" r="14" fill="none")
        
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous")
        script(src="/js/app.bundle.js")
        