html(lang='en')
    head
        title Progressive Movies App From Wakanda
        meta(charset='utf-8')
        meta(name="theme-color" content="#333")
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        meta(name="apple-mobile-web-app-capable" content="yes")
        meta(name="apple-mobile-web-app-status-bar-style" content="black")
        meta(name="apple-mobile-web-app-title" content="PWAkanda Movies")
        meta(name="msapplication-TileImage" content="images/icons/icon-144x144.png")
        meta(name="msapplication-TileColor" content="#333")
        link(href="/manifest.json", rel="manifest")
        link(href="https://fonts.googleapis.com/css?family=Roboto+Mono" rel="stylesheet")
        link(rel="apple-touch-icon" href="/images/icons/icon-152x152.png")
        link(rel="shortcut icon" href="/favicon.ico?v=1")
        link(href="/css/bootstrap.slim.min.css", rel="stylesheet")
        link(href="/css/app.css", rel="stylesheet")
    body
        nav(class="navbar navbar-fixed-top navbar-inverse")
            div(class="container")
                div(class="navbar-header")
                    button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
                        span(class="sr-only") Toggle navigation
                        span(class="icon-bar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                    a(class="navbar-brand" href="/") PWAkanda

                div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
                    ul(class="nav navbar-nav navbar-right")
                            li: a(href='/movies/top_rated') Top rated
                            li: a(href='/movies/popular') Popular
                            li: a(href='/movies/now_playing') Now playing
                        
        div(class='container')
            div(class='row movies')
        div(class="loader")
            svg(viewBox="0 0 32 32" width="32" height="32")
                circle(id="spinner" cx="16" cy="16" r="14" fill="none")
        
        script(src="/js/app.bundle.js")
        